<div class="row">
  <div class="col-xs-12">
    <img 
    [src]="receipe.imagePath" 
    [alt]="receipe.name" 
    style="max-height: 200px;"
    class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{receipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" [ngClass]="{ 'open': isOpen }">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle" (click)="isOpen = !isOpen">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" style="cursor: pointer;">
        <li><a (click)="addIngredient();isOpen = !isOpen">To Shopping List</a></li>
        <li><a (click)="addNavigation()">Edit Recipe</a></li>
        <li><a (click)="deleteReceipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{receipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of receipe.ingredient">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
